/* Global Styles */
* {
  margin: 0;
  padding: 2%;
  box-sizing: border-box;
  color: white; /* Set text color to white for all elements */
}

body {
  background-image: linear-gradient(to top, #000, #300b63); /* Gradient background from dark (#300b63) to top (black) */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  color: white; /* Set text color to white for h1 elements */
}

/* Score Board Styles */
.score-board {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  width: 100%;
}

/* Table Styles */
.table {
  border-collapse: collapse;
  height: 30%;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  margin-top: 20px;
}

.even {
  background-color: #18191b;
}

.odd {
  background-color: #242526;
}

.table td {
  padding: 6px;
  width: 100%;
  height: 35px;
}

/* Scores List Styles */
.scores-list {
  width: 35%;
}

.title {
  padding: 5px;
  display: flex;
}

/* Input Styles */
.add-score {
  width: 40%;
}

.add-score,
form {
  display: flex;
  flex-direction: column;
}

input {
  background-color: #242526;
  border-radius: 20px; /* Curved border radius */
  padding: 5px;
  gap: 12px;
  border: none;
  height: 40px;
  margin-bottom: 10px;
  color: white; /* Set text color to white for input elements */
}

.add-score input:active {
  border-color: #6b54fa; /* Neon blue glowing border when input is active */
}

/* Button Styles */
button {
  height: 40px;
  margin-left: 10px;
  width: 40%;
  background-color: #1f1369; /* Button color (#6b54fa) */
  border: none;
  border-radius: 20px; /* Curved border radius */
  box-shadow: 0 0 10px 2px #6b54fa; /* Glowing box-shadow effect */
  cursor: pointer;
}

button:hover {
  transform: scale(1.1); /* Scale button size on hover */
  background-color: #0b0535; /* Button color (#6b54fa) */
  box-shadow: 0 0 10px 2px #6b54fa; /* Glowing box-shadow effect */
}

.submit-btn {
  display: flex;
  flex-direction: row-reverse;
}

.submit {
  background-color: #10074d; /* Button color (#6b54fa) */
  border: none;
  border-radius: 20px; /* Curved border radius */
  box-shadow: 0 0 10px 2px #6b54fa; /* Glowing box-shadow effect */
  cursor: pointer;
}
